/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header, nav, section, footer {
    padding: 20px;
}

header {
    background-color: #aba806;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #a14fd8;
    padding: 10px;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color:#201f1f;
    padding-left: 50px;
}
nav a:hover{
    text-decoration: none;
    color: #2c0c84;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.main-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* Specific styling for product list */
.product-list {
    list-style-type: disc;
    padding-left: 20px;
}
